apiVersion: apps/v1
kind: Deployment
metadata:
  name: stateledger
spec:
  template:
    spec:
      containers:
      - name: stateledger
        image: retr0xd/stateledger:latest
        imagePullPolicy: Always
        env:
          - name: LOG_LEVEL
            value: "debug"
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 200m
            memory: 256Mi
