apiVersion: apps/v1
kind: Deployment
metadata:
  name: stateledger
spec:
  replicas: 1
  selector:
    matchLabels:
      app: stateledger
  template:
    metadata:
      labels:
        app: stateledger
    spec:
      serviceAccountName: stateledger
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        fsGroup: 1000
      volumes:
        - name: ledger-storage
          persistentVolumeClaim:
            claimName: stateledger
        - name: tmp
          emptyDir: {}
      containers:
      - name: stateledger
        image: retr0xd/stateledger:latest
        imagePullPolicy: IfNotPresent
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
          readOnlyRootFilesystem: true
        volumeMounts:
          - name: ledger-storage
            mountPath: /app/ledger
          - name: tmp
            mountPath: /tmp
        env:
          - name: LOG_LEVEL
            value: "info"
        resources:
          requests:
            cpu: 250m
            memory: 256Mi
          limits:
            cpu: 500m
            memory: 512Mi
