apiVersion: apps/v1
kind: Deployment
metadata:
  name: stateledger
spec:
  template:
    spec:
      containers:
      - name: stateledger
        image: retr0xd/stateledger:latest
        imagePullPolicy: IfNotPresent
        env:
          - name: LOG_LEVEL
            value: "info"
        resources:
          requests:
            cpu: 250m
            memory: 256Mi
          limits:
            cpu: 500m
            memory: 512Mi
